#container {
  position: absolute;
  width: 800px;
  height: 450px;
}
#apple {
  visibility: hidden;
}
#message {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  white-space: pre;
  opacity: 0.5;
  width: 800px;
  height: 450px;
  font-weight: bold;
}